<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TIENDA EN LINEA</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Catalogo de tiendas   <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Carrito de compras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Calendario de pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Cargar inventarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Cargar pedidos</a>
          </li>
      </ul>
    </div>
  </nav>