<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TIENDA EN LINEA</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/Tiendas">Catalogo de tiendas<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Carrito">Carrito de compras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Calendario">Calendario de pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/CargaInv">Cargar inventarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/CargaPedidos">Cargar pedidos</a>
          </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>