<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/Login">TIENDA EN LINEA</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/Tiendas">Catalogo de tiendas<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Carrito">Carrito de compras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Calendario">Calendario de pedidos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/CargaInv">Cargar inventarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/CargaPedidos">Cargar pedidos</a>
        </li>
    </ul>
  </div>
</nav>
<h2>Lista de tiendas</h2>
<table class="table table-hover">
    <thead class=" thead thead-dark">
      <tr>
        <th scope="col">Nombre Tienda</th>
        <th scope="col">Imagen</th>
        <th scope="col">Arbol AVL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listax of listaTienda">
        <td><a href="/Productos/{{listax.Nombre}}">{{listax.Nombre}}</a></td>
        <td>
           <img src="{{listax.Logo}}" width="110px" class="img-fluid" class="rounded" alt="{{listax.Nombre}}" >
        </td>
        <td>
          <button type="button" class="btn btn-danger"><a href="http://localhost:3000/api/ArbolAVL/{{listax.Nombre}}" target="_blank">VER</a></button>
        </td>
      </tr>
    </tbody>
  </table>